html, body {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 56px;
	font-family: 'Permanent Marker', cursive;
	font-weight: 300;
}

.s1 {
	background-color: #fff;
	/*background-image: url(img/icon.svg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: contain;*/

	background: url(img/beach.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	border-color: 2px solid #c1c1c1;
	overflow: auto;
}



.container {
	/*width: 1200px;*/
	margin: 0 auto;
	height: 100vh;

}

.greeting-wrapper {
	text-align: center;

}

/*.singer {
	margin-top: -50px;
	margin-bottom: 30px;
	font-family: monospace;
	text-align: right;
	margin-right: 30em;
}*/

.tribute-wrapper {
	background-color: #fffaf0;
	margin-left: 3.5rem;
	margin-right: 3.5rem;
	border-radius: 10px;
	
	-webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 6px 15px 5px rgba(0,0,0,0); 
	box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 6px 15px 5px rgba(0,0,0,0);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 20px;

	padding-bottom: 80px;
}

.left-side {
	/*border: 5px dashed green;*/
	justify-self: center;
	margin-left: 2em;
}

.karol1 {
	width: 80%;
	height: auto;
	margin-top: 5rem;
	margin-bottom: 3em;
	border-radius: 10px;

	display: block;
	margin-left: auto;
	margin-right: auto;

}

.quote {
	-webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 8px 5px rgba(255,16,105,0.52); 
	box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 8px 5px rgba(255,16,105,0.52);
	font-size: 18px;
	width: 100%;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	background-color: #fdf5e6;

	display: block;
	margin-left: auto;
	margin-right: auto;
}

span {
	text-align: right;
}

.right-side {
	/*border: 3px solid yellow;*/
	margin-top: 1.5em;
	margin-right: 2.5rem;
	font-size: 1.5m;

}

p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

/*@media screen and (max-with: 1200px) {
	.container {
		width: 75%;
	}
}*/



@media screen and (max-width: 700px) {
	.tribute-wrapper {
		margin-left: 0;
		margin-right: 0;

		display: grid;
		grid-template-columns: repeat(auto-fit, 1fr);
		grid-template-rows: 1fr;
		gap: 20px;
	}

	.karol1 {
		width: 80%;
		height: auto;
	}

	.quote {
		width: 80%;
	}

	.accomplishments p {
		font-size: 1em;
		line-height: 1.3;
	}
}


@media screen and (max-width: 600px) {
	.tribute-wrapper {
		margin-left: 2rem;
		margin-right: 2rem;
		padding: 15px;

		display: flex;
		flex-direction: column;
	}

	.left-side {
		justify-items: flex-end;
		margin-left: 5rem;
		margin-top: -3rem;
	}



	


}
